@using Microsoft.AspNetCore.Identity
@using CaseNoroff.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string returnUrl = null;
    var query = ViewContext.HttpContext.Request.Query;
    if (query.ContainsKey("returnUrl"))
    {
        returnUrl = query["returnUrl"];
    }
}

<script>

    function openNav() {
        document.getElementById("sidebar-menu").style.display = 'block';
        //document.getElementById("sidebar-menu").style.WebkitTransition = 'opacity 1s ease';

    }

    function closeNav() {
        document.getElementById("sidebar-menu").style.display = 'none'
    }

    function ddToggler() {
        let elem = document.getElementById("sidebar-menu");
        if (window.getComputedStyle(elem, null).getPropertyValue("display") == 'none') {
            openNav();
            console.log("open dd");
        }
        else if (window.getComputedStyle(elem, null).getPropertyValue("display") == 'block') {
            closeNav();
            console.log("close dd");
        }
    }
</script>

<ul class="navbar-nav">
    <li class="nav-item">
        <button class="btn btn-secondary" style="background-color: white; border: none;" href="#" type="button">
            <a class="nav-link text-dark" href="~/">Store</a>
        </button>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown" id="drop" onmouseleave="closeNav()" onmouseenter="openNav()" >
            <button onclick="ddToggler()" class="btn btn-secondary" style="background-color: white; border: none;" data-toggle="dropdown" href="#" type="button">
                <img className="navImg" src=@Url.Content("~/iconUser.png") alt="User" style="height: 30px; margin: 0px;" />
            </button>
            <div id="sidebar-menu" class="dropdown-menu show" x-placement="bottom-start" style="display:none; position:absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <h6 class="dropdown-header" asp-area="Identity">@User.Identity.Name</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-page="/Account/Manage/Index">Login Information</a>
                <a class="dropdown-item" href="/Profile">Profile</a>
                <a class="dropdown-item" href="/orderHistory">Order History</a>
                <div class="dropdown-divider"></div>
                <form class="text-dark dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                    <button type="submit" tabindex="0" class="nav-link text-dark btn btn-link" style="padding: 0px;">Logout</button>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item dropdown" id="drop" onmouseleave="closeNav()" onmouseenter="openNav()">
            <button onclick="ddToggler()" class="btn btn-secondary" style="background-color: white; border: none;" data-toggle="dropdown" href="#" type="button" aria-haspopup="true" aria-expanded="true">
                <img className="navImg" src=@Url.Content("~/iconUser.png") alt="User" style="height: 30px;" />
            </button>
            <div id="sidebar-menu" class="dropdown-menu show" x-placement="bottom-start" style="display:none; position:absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">Login</a>
            </div>
        </li>
    }
<li class="nav-item">
    <button class="btn btn-secondary" style="background-color: white; border: none;"href="#" type="button">
        <a href="/cart" class="nav-link">
            <img className="navImg" src=@Url.Content("~/iconCart.png") alt="Cart" style="height: 30px;" />
        </a>
    </button>
</li>

</ul>
