#ohOrderItem {
    text-align: center;
    font-family: Andale Mono, monospace;
}
.ohOrderContent {
    text-align: left;
}
.ohOrderText {
    margin-left: 4.5%;
    font-size: 20px;
}
.conItemText{
    font-size: 14px;
}
.conText{
    font-size: 16px;
}
.ohOrderUL{
    list-style-type: none;
    width:96%;
}
.ohItemLI {
    border: 1px black solid;
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ohItemText {
    margin: 1%;
}
.ohOrderImg {
    width: 250px;
    margin: 1%;
    border-radius: 7px;
}

@media(max-width: 768px){
    .ohOrderUL {
        width: 94.5%
    }
    .ohOrderText{
        margin-left: 6.5%;
    }
}

@media(max-width: 414px){
    .ohOrderUL {
        width: 98%;
        margin-left: -15px;
    }
    .ohOrderText {
        margin-left: 7%;
    }
}

@media(max-width: 414px) {
    .ohOrderUL {
        width: 100%;
        margin-left: -19px;
    }

    .ohOrderText {
        margin-left: 8%;
    }
    .ohOrderImg{
        width: 150px;
    }
}