#ohOrderItem {
    text-align: center;
    font-family: Andale Mono, monospace;
}
.ohOrderContent {
    text-align: left;
}
.ohOrderText {
    margin-left: 3.5%;
    font-size: 20px;
}
.conItemText{
    font-size: 14px;
}
.conText{
    font-size: 16px;
}
.ohOrderUL{
    list-style-type: none;
}
.ohItemLI {
    border: 1px black solid;
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.ohItemText {
    margin: 1%;
}
.ohOrderImg {
    width: 250px;
    margin: 1%;
    border-radius: 7px;
}
