.itemContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 7px;
    width: auto;
}


.itemText {
    text-align: left;
    border: 0px;
    border-radius: 7px;
    font-family: Andale Mono, monospace;
}
.itemTitle{
    font-size: 13px;
}
.itemImage {
    width: 300px;
    height: 320px
}

