a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navImg {
    height: 30px;
}


.toggler {
    background-color: white;
    margin-top: 7px;
    border: none;
}

.toggler:hover {
    background-color: white;
    border: none;
}


.drooopdownMenu:hover {
}

.droooooop .drooopdownMenu {
   /* -webkit-transition: opacity 1s ease;*/
}

.droooooop:hover .drooopdownMenu {
}